[submodule "deploy/docs"]
	path = deploy/docs
	url = https://github.com/hung4564/docs.git
[submodule "deploy/demo/draggable"]
	path = deploy/demo/draggable
	url = https://github.com/hung4564/demo-draggable.git
